### Week 2 Tutoring Materials###

For this week, the material being covered includes:

* Tables (lecture 5)
    * Labels
    * Columns = vectors
    * Rows
        * What rows correspond to will likely be a point of confusion
    * Data types (float, int, string, bool)
    * Functions used in lecture: 
        * Table()
        * .with_column()
        * .with_columns()
        * make_array()
        * .num_columns()
        * .num_rows()
        * .relabeled()
        * .column()
        * .item()
        * .set_format()
        * .select()
        * .drop()
        * .read_table() (this probably won't be as important to know)
        * .sort()
        * explaining mutation will probably be necessary to some extent
        * explaining function vs method calls will be very important I think
* Transformations
* Charts

** I think the calendar was edited after I put the above list together. **
I'll leave the list up for now though, I suspect many of the concepts introduced above can might still be causing some confusion this week.
New list: 
* Rows
* Columns 
* Charts

From data.gov: 


"This dataset includes the locations of businesses that pay taxes to the City and County of San Francisco. Each registered business may have multiple locations and each location is a single row. The Treasurer & Tax Collectorâ€™s Office collects this data through business registration applications, account update/closure forms, and taxpayer filings. "

In [18]:
import numpy as np
from datascience import *
# businesses = Table.read_table("businesses.csv")
# businesses

I first take a subset of this giant busineses table by choosing 100 random values out of the table so it's easier to work with. The sorting is unnecessary but was helpful debugging. I then group it by name (some businesses are repeated) and aggregate the other rows by min (I needed an predicate that simply preserved at least one of the zip codes). From this table, I take the values I want for this exercise: the name of the business, its source zipcode, and its mail zipcode.

In [19]:
# subset = businesses.take(np.random.choice(np.arange(0, businesses.num_rows), size = 100, replace = False)).sort("DBA Name")
# grouped = subset.group("DBA Name", min)
# cleaned = grouped.select(make_array("DBA Name" , "Source Zipcode min", "Mail Zipcode min")).group("DBA Name", min) 
# businesses = cleaned

In [20]:
# businesses.show(50)
#businesses.to_csv("biz100")

In [27]:
businesses = Table.read_table("biz100.csv")#Comment this out, and uncomment the above lines if you want to generate a new dataset.
#For the purpose of this exercise, we'll be using the biz100 table I already generated.
businesses

DBA Name               | Source Zipcode | Mail Zipcode
100plus                | 94102          | 94131
1690 Evans Property    | 94124          | 94507
2390 43rd Av Apts      | 94116          | 94123
570 5th Av Apartments  | 94118          | 94118
7-Eleven Store         | 94134          | 75221
825 Sansome Street Llc | 94133          | 94133
Addis Limo             | 94115          | 94115
Alain Pinel Realtors   | 94123          | 95070
Alive By Shooting      | 94110          | 94110
Ana V. Duffy           | 94132          | 94132
... (89 rows omitted)

Let's say I'm interested in the number of businesses in San Francisco BUT aren't in the Marina District, which has a zip code of 94123. We can practice a couple Table methods when trying to answer this question. First, let's generate a table of the businesses that ** are ** in the Marina District.

In [28]:
businesses_in_marina_dist = businesses.where("Source Zipcode", are.equal_to(94123))
businesses_in_marina_dist

DBA Name                     | Source Zipcode | Mail Zipcode
Alain Pinel Realtors         | 94123          | 95070
Blue Sky Window Cleaning     | 94123          | 94123
Eccogen Card                 | 94123          | 99999
Leonard Assoc Architects Inc | 94123          | 94123
Lovely Bride                 | 94123          | 94123

Now, we can compare the number of rows in our new table to the number of rows in our original table to compute the number of businesses in our sample that aren't in the Marina District.

In [30]:
businesses.num_rows - businesses_in_marina_dist.num_rows

94

Now let's say we're interested in the ratio of businesses where their source zipcode doesn't match their mail zipcode.

In [39]:
#For the Marina District:
marina_mismatches = np.count_nonzero(businesses_in_marina_dist[1] != businesses_in_marina_dist[2])
marina_ratio  = marina_mismatches/businesses_in_marina_dist.num_rows

#Overall
mismatches = np.count_nonzero(businesses[1] != businesses[2])
total_ratio = mismatches/businesses.num_rows

#Round both to  2 for brevity.

print("There were " + str(round(marina_ratio,2))+ " in the Marina District vs " +str(round(total_ratio,2))+ " overall.")

There were 0.4 in the Marina District vs 0.38 overall.